table {
    border-collapse: collapse;
    border: none;
}
table tr {
    border: none;
}
table td, table th {
    margin: 0;
    border: 10px solid white;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
table th:not(:empty) {
    background-color: #fec;
    text-align: left;
    font-weight: bold;
}
table tr th {
    border-left: none;
    border-right: 1px dashed #888;
}
table td {
    border: 2px solid #ccf;
    background-color: #c0c0ff;
    font-family: Courier;
    width: 200px;
}
